<div class="main posts-new">
  <div class="container">
    <%= form_with model: @post, url: post_path(@post), metod: :patch do |f| %>
      <h1 class="form-heading">編集する</h1>
      <div class="form">
        <div class="form-body">
          <%= f.file_field :image, accept: "image/*" %>
          <%= f.text_area :content, class: "textarea" %>
          <%= f.submit "保存" %>
        </div>
      </div>
    <% end %>
  </div>
</div>