<header>
  <div class="header-logo">
    <%= link_to "OsanpoApp", "/"%>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to "OsanpoAppとは", "/about"%>
    </li>
    <li>
      <%= link_to "投稿一覧", "/posts"%>
    </li>
    <li>
      <%= link_to "新規投稿", "/posts/new"%>
    </li>
  </ul>
</header>
